# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# Raw data - large files, don't belong in git
data/raw/*

# Model artifacts
*.pt
*.pth
*.onnx
*.rknn
wandb/
*.png

# Env / secrets
.env

# OS
.DS_Store
model/*.pt
model/*.pth
